### Paso 1: Importar la Librería Pandas

In [1]:
import pandas as pd

Le damos el alias pd por convención, para no tener que escribir "pandas" cada vez.

### Paso 2: Leer el Archivo de Texto (Delimitado por Tabulaciones)

In [5]:
# Especificamos la ruta al archivo dentro de nuestro proyecto
ruta_archivo = '../datos/Geografia.txt'

# Usamos la función read_csv, especificando que el separador es una tabulación ('\t')
df = pd.read_csv(ruta_archivo, sep='\t')

### Paso 3: Visualizar los Datos

In [6]:
# Mostramos las primeras 5 filas de nuestro DataFrame
df.head()

,objectid,cod_depto,depto,cod_municipio,municipio,shape_Length,shape_Area,ISO,Pais,VARNAME_1,ENGTYPE_2,TYPE_2,NAME_1,DEPARTAMENTO,MUNICIPIOS,DEPTO_MUN,Columna1,Columna2,Índice,REGION
0,2,1,ATLANTIDA,103,Esparta,1.497917,0.038841,HND,Honduras,NaN,Municipality,Municipio,ATLANTIDA,ATLANTIDA,ESPARTA,"ATLANTIDA,ESPARTA",NaN,NaN,1,Nororiental
1,3,1,ATLANTIDA,104,Jutiapa,1.035751,0.044913,HND,Honduras,NaN,Municipality,Municipio,ATLANTIDA,ATLANTIDA,JUTIAPA,"ATLANTIDA,JUTIAPA",NaN,NaN,2,Nororiental
2,4,1,ATLANTIDA,105,La Masica,1.296319,0.039500,HND,Honduras,NaN,Municipality,Municipio,ATLANTIDA,ATLANTIDA,LA MASICA,"ATLANTIDA,LA MASICA",NaN,NaN,3,Nororiental
3,5,1,ATLANTIDA,106,San Francisco,0.975459,0.023811,HND,Honduras,NaN,Municipality,Municipio,ATLANTIDA,ATLANTIDA,SAN FRANCISCO,"ATLANTIDA,SAN FRANCISCO",NaN,NaN,4,Nororiental
4,6,1,ATLANTIDA,108,Arizona,1.513013,0.044767,HND,Honduras,NaN,Municipality,Municipio,ATLANTIDA,ATLANTIDA,ARIZONA,"ATLANTIDA,ARIZONA",NaN,NaN,5,Nororiental